@import url("https://cdn.rawgit.com/kattergil/seoulNamsan-Webfont/ce840f3d/styles.css");
@import url("https://fonts.cdnfonts.com/css/shrikhand");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fedd9e;
  font-family: "SeoulNamsan CEB";
}

header {
  background-color: #fff1d4;
  padding-top: 49px;
  padding-bottom: 58px;
}

header h1 {
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #cc800e;
  margin: 0;
}

header p {
  font-family: "Shrikhand";
  margin: 0;
  text-align: center;
  font-size: 38px;
  line-height: 55px;
  color: #cc800e;
  font-style: italic;
  font-weight: 400;
}

section {
  display: flex;
  justify-content: space-around;
  gap: 128px;
  margin-top: 96px;
  margin-bottom: 107px;
}

.container {
  width: 620px;
  height: 420px;
  border: 33.16px solid #fff1d4;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-text {
  margin-left: 88.79px;
}

ul {
  list-style: none;
}
ul li::before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

li {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.btn {
  background-color: #fedd9e;
  width: 376.43px;
  height: 44.21px;
  margin-left: 88.79px;
  border: none;
  color: #000000;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 19.89px;
}

.daniel {
  background-color: aqua;
  width: 433px;
  height: 392px;
}

.footer-img{
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    margin-bottom: 59px;
   
}

.convertor-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3);
    gap: 31px;
    width: 433px;
}

.ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF1D5;
    border-radius: 10px;
    height: 49px;
}



.ingredient-cups {
    grid-row: 2;  
    grid-column: 1/5; 
    background: #FFF1D5;
    border-radius: 10px;
    height: 92.79px;
}

.ingredient-g {
    grid-row: 3;
    grid-column: 1/5;  
    background: #FFF1D5;
    border-radius: 10px;
    height: 92.79px;
}

.ingredient-save {
    grid-column: 1/5;

}

.ingredient-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ingredient-save-btn {
    background: #FFBC57;
    border-radius: 10px;
    height: 62px;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    width: 212.96px;
    border: none;
}

.cups-wrap {
    display: flex;
    align-items: center;
    gap: 17px;
}

.cups-wrap input {
    margin-left: 20px;
    border: none;
    background: #FEFEFE;
    border-radius: 10px;
    width: 278.36px;
    height: 46.39px;
}

.cups-wrap p {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD596;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: #CC800E;
    width: 100.52px;
    height: 46.39px;
}

.g-wrap {
    display: flex;
    align-items: center;
    gap: 17px;
}

.g-wrap input {
    margin-left: 20px;
    border: none;
    background: #FEFEFE;
    border-radius: 10px;
    width: 278.36px;
    height: 46.39px;
}

.g-wrap p {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFD596;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    color: #CC800E;
    width: 100.52px;
    height: 46.39px;
}

.ingredient-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #CC800E;
    padding-top: 5px;
    background-color: transparent;
    border: none;
}
